html {
  font-size: 16px;
  font-family: Helvetica, sans-serif;
}

/*
body {

}

h1 {
  font-size: 2rem;
  line-height: 2.5rem;
}

h2 {
  font-family: arial;
  font-size: 2rem;
  font-weight: 800;
}

h3 {
  font-family: Helvetica, sans-serif;
  font-size: 3rem;
}

h4 {
  font-size: 2rem;
  font-weight: bold;
}

p, a {
  font-size: 2rem;
  color: black;
}
*/

header {
  height: 4rem;
  width: 100%;
  background-color: white;
}

header .logoheader {
  display: none;
}

.textheader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  margin-left: 1.5rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.logo h3 strong {
  font-weight: 900;
}

.logo h3 {
  font-weight: 100;
}


.logo img {
  height: 2rem;
  width: auto;
}

.navigation {
  margin-right: 1.5rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.navigation .stripe {
  width: 1rem;
  height: 4rem;
  background-color: aqua;
}

.navigation li a {
  font-family: arial;
  text-decoration: none;
}


@media only screen and (max-width: 450px) {
  /*header {
    display: flex;
    align-items: bottom;
  }*/
  header .textheader {
    display: none;
  }

  header .logoheader {
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .logoheader img {
    height: 1.75rem;
    width: auto;
  }
}

/*Section banner*/
.banner {
  width: 100%;
  height: auto;
  background-color: lightgray;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.banner img /*.imagebanner*/ {
  width: 60%;
  height: auto;
  margin: 2rem 1.5rem;
}

.banner .imagebanner img {
  width: 100%;
  height: 100%;
}

.banner .textbanner {
  margin-left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 24rem;
  height: auto;
}

.banner .textbanner h1 {
  font-family: helvetica;
  font-size: 2.5rem;
  font-weight: bolder;
}

.banner .textbanner h4 {
  font-family: helvetica;
  font-size: 1.5rem;
  font-weight: bold;
  margin: 2rem 0;
}

.banner .textbanner a  {
  padding-top: 1.2rem;
  background-color: darkgray;
  color: white;
  font-size: 1.5rem;
  text-decoration: none;
  width: 20rem;
  height: 3rem;
  text-align: center;
}

@media only screen and (max-width: 450px) {
  .banner {
    flex-direction: column;
    align-items: center;
  }
  .banner .imagebanner {
    width: 100%;
    margin-top: 0;
  }
  .banner .textbanner {
    width: 90%;
    margin-bottom: 2rem;
  }

  .banner .textbanner h1 {
    font-size: 2rem;
    width: 80%;
  }

  .banner .textbanner a {
    width: 100%;
  }
}


/*main section*/

.main {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: flex-end;
  background-color: white;
}

.mainleft {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: baseline;
  padding: 2rem 1.5rem;
  border-right: 1px solid lightgray;
}

.mainleft img {
  width: 100%;
  height: auto;
  margin-bottom: 2rem;
}

.mainleft .lefttext {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.mainleft h2 {
  font-family: arial;
  font-size: 2rem;
  font-weight: 800;
  margin-bottom: 1.5rem;
}

.mainleft p {
  font-family: inherit;
  font-size: 1rem;
  margin-bottom: 2rem;
}

.mainleft h5 {
  margin-bottom: 0;
  font-family: arial;
  font-size: 1rem;
}




.mainright {
  width: 40%;
  height: auto;
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
}

.rightcontainer {
  display: flex;
  justify-content: flex-start;
  border-bottom: 2px solid lightgray;
}

.rightcontainer .desktop /*img*/ {
  width: 35%;
  height: 90%;
  margin: 1rem;
}

.rightcontainer .mobile {
  display: none;
}

.graycontainer {
  background-color: lightgray;
  margin-bottom: 2rem;
  display: flex;
  justify-content: flex-start;
}

.graycontainer .desktop {
  width: 35%;
  height: 90%;
  margin: 1rem;
}

.graycontainer .mobile {
  display: none;
}

.mainright .righttext {
  padding-left: .5rem;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
}

.mainright h4 {
  margin: 1rem 0 1rem 0;
  font-size: 1.25rem;
  font-family: arial;
  font-weight: bold;
}

.mainright p {
  font-size: .85rem;
  font-family: helvetica;
}

.mainright a {
  font-size: .85rem;
  font-family: helvetica;
  color: blue;
  text-decoration: none;
  margin-top: 1rem;
}


@media only screen and (max-width:450px) {
.mainright .desktop img {
  display: none;
  }
.mainright .mobile img {
  display: block;
  }
}


.learning {
  background-color: lightgray;
  padding: 2rem 3.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.learning h2 {
  font-family: arial;
  font-size: 2rem;
  font-weight: 800;
  margin: 2rem 0;
}

.learning .row {
  display: flex;
  justify-content: space-around;
  margin-top: 2rem;
}

.learningcontainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: baseline;
  width: 30%;
  height: 22rem;
  background-color: white;
  margin: 0 1rem;
  padding: 0 auto 1.5rem 3.5rem;
}

.learningcontainer img {
  width: 100%;
  height: auto;
}

.row .learningtext {
  padding: 1rem 1.5rem;
  width: auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: baseline;
}

.row h4 strong {
  font-size: 1.25rem;
  font-family: arial, sans-serif;
  font-weight: bold;
}

.row h4 {
  margin: .5rem 0;
}

.row p {
  line-height: 1.5rem;
}

.mobileonly {
  display: none
}


@media only screen and (max-width:450px) {
  .mobileonly {
    display: flex;
    flex-direction: column;
  }

  .mobileonly h4 {
    background-color: gray;
    height: 3.5rem;
    width: auto;
    margin: .5rem 1rem;
    padding: 1rem 1rem 1.5rem 1rem;
    text-align: left;

  }
}


.exhibit {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 100%;
  height: auto;
  padding: 2rem .5rem 2em 1.5rem;
  align-items: center;
}

.exhibit .videocontainer {
  width: 60%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.exhibit .videocontainer video {
  margin-bottom: 1.5rem;
}

.exhibit .videocontainer h4 {
  margin-bottom: .5rem;
}

.exhibitright {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.exhibitright .special {
  background-color: gray;
}

.rightcontainer img {
  width: 35%;
  height: auto;
}



.exhibittext {
  width: 65%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
}




footer {
  height: 4rem;
  width: 100%;
  background-color: white;
  padding: 1rem 1.5rem;

  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  border-top: 1px solid lightgray;
}
