html {
  font-size: 16px;
  font-family: "helvetica", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}


body {
  max-width: 1250px;
  }

h1 {
  font-size: 2rem;
  line-height: 2.5rem;
}

h2 {
  font-family: arial;
  font-size: 2rem;
  font-weight: 800;
}

h3 {
  font-family: Helvetica, sans-serif;
  font-size: 3.5rem;
}

h4 {
  font-size: 2rem;
  font-weight: bold;
}

p, a {
  font-size: 2rem;
  color: black;
}


header {
  height: 4rem;
  width: 100%;
  background-color: white;
}

header .logoheader {
  display: none;
}

.textheader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  margin-left: 1.5rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.logo h3 {
  font-family: helvetica, sans-serif;
  font-size: 1.25rem;
  font-weight: 100;
}

.logo h3 strong {
  font-family: helvetica, sans-serif;
  font-weight: 700;
}

.logo img {
  height: 2.5rem;
  width: auto;
}

.navigation {
  margin-right: 1.5rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.navigation .stripe {
  width: 1rem;
  height: 4rem;
  background-color: #40e0d0; //*turquoise*/
}

.navigation li a {
  font-family: arial;
  text-decoration: none;
}


@media only screen and (max-width: 650px) {
  html {
    display: block;
  }

  header .textheader {
    display: none;
  }

  header .logoheader {
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .logoheader img {
    height: 1.75rem;
    width: auto;
  }
}

/*Section banner*/
.banner {
  width: 100%;
  height: auto;
  background-color: #c0c0c0; /*silver*/
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.banner img /*.imagebanner*/ {
  width: 58%;
  height: auto;
  margin: 2rem 1.5rem;
}

.banner .imagebanner img {
  width: 100%;
  height: 100%;
}

.banner .textbanner {
  margin-left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 24rem;
  height: auto;
}

.banner .textbanner h1 {
  font-family: helvetica;
  font-size: 2.5rem;
  font-weight: bolder;
}

.banner .textbanner h4 {
  font-family: helvetica;
  font-size: 1.5rem;
  font-weight: bold;
  margin: 2rem 0;
}

.banner .textbanner a  {
  padding: .5rem 0;
  background-color: #696969; /*dimgray*/
  color: white;
  font-size: 1.5rem;
  text-decoration: none;
  width: 20rem;
  height: auto;
  text-align: center;
}

.banner .textbanner a:hover  {
  background-color: #800080;
}

@media only screen and (max-width: 760px) {
  .banner {
    flex-direction: column;
    align-items: center;
  }
  .banner img {
    width: 100%;
    margin-top: 0;
  }

  .banner .textbanner {
    width: 90%;
    margin-bottom: 2rem;
  }

  .banner .textbanner h1 {
    font-size: 2rem;
    width: 80%;
  }

  .banner .textbanner a {
    width: 100%;
    background-color: #808080; /*gray*/
  }
}


/*main section*/

.main {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: flex-end;
  background-color: white;
}

.mainleft {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: baseline;
  padding: 2rem 1.5rem;
  border-right: 1px solid #c0c0c0; /*silver*/
}

.mainleft img {
  width: 100%;
  height: auto;
  margin-bottom: 2rem;
}

.mainleft .lefttext {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.mainleft h2 {
  font-family: arial;
  font-size: 2rem;
  font-weight: 800;
  margin-bottom: 1.5rem;
}

.mainleft p {
  font-family: inherit;
  font-size: 1rem;
  margin-bottom: 2rem;
}

.mainleft h5 {
  margin-bottom: 0;
  font-family: arial;
  font-size: 1rem;
}




.right {
  width: 40%;
  height: auto;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.rightcontainer {
  display: flex;
  justify-content: flex-start;
  padding: 1rem;
}

#specialmargin {
  margin-top: 1rem;
  border-bottom: 2px solid #c0c0c0; /*silver*/
}

.rightcontainer .desktop {
  width: 35%;
  height: 90%;
}

.rightcontainer .mobile {
  display: none;
}

.graycontainer {
  background-color: #c0c0c0; /*silver*/
  padding: 1rem;
  display: flex;
  justify-content: flex-start;
}

.graycontainer .desktop {
  width: 35%;
  height: 90%;
  /*margin: 1rem;*/
}

.graycontainer .mobile {
  display: none;
}

.right  .righttext {
  padding-left: .5rem;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
}

.right h4 {
  margin: 1rem 0 1rem 0;
  font-size: 1.25rem;
  font-family: arial;
  font-weight: bold;
}

.right p {
  font-size: .85rem;
  font-family: helvetica;
}

.right a {
  font-size: .85rem;
  font-family: helvetica;
  color: blue;
  text-decoration: none;
  margin-top: 1rem;
}

.right a:hover {
  color: #ff0000;
}

@media only screen and (max-width:650px) {
.mainleft {
  display: none;
}

.right .rightcontainer {
  flex-direction: column;
  align-items: baseline;
  padding: 1rem;
}

.right .graycontainer {
  flex-direction: column;
  padding: 1rem;
  background-color: white;
}

.right {
  width: 100%;
}

.right .rightcontainer img, .right .graycontainer img {
  width: 100%;
  height: auto;
}

.right .desktop {
  display: none;
}
.right .mobile {
  display: block;
  }
.right .righttext {
  width: 90%;
}
}


.learning {
  background-color: #dcdcdc; /*gainsboro*/
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.learning .start {
  font-family: arial;
  font-size: 2rem;
  font-weight: 800;
  margin: 2rem;
  text-align: center;
  width: 100%;
}

.learning .row {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.learningcontainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 30%;
  height: 23rem;
  background-color: white;
  margin: 0 .75rem;
}

.learningcontainer img {
  width: 100%;
  height: auto;
}

.row .learningtext {
  margin: 1rem 3rem 1.5rem 1rem;
  width: 80%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: baseline;
}

.row h4 strong {
  font-size: 1.25rem;
  font-family: arial, sans-serif;
  font-weight: bold;
}

.row h4 {
  margin: .5rem 0;
}

.row p {
  line-height: 1.5rem;
}

.mobileonly {
  display: none;
}


@media only screen and (max-width:650px) {
  .learning {
    background-color: white;
  }

  .learning h2 {
    font-size: 1.75rem;
    margin: 0;
  }

  .learning .row {
    display: none;
  }

  .mobileonly {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: auto;
    padding: 1.5rem .5rem;
  }

  .mobileonly a {
    font-family: arial;
    font-size: 1.5rem;
    font-weight: 600;
    text-align: left;
    text-decoration: none;
    background-color: #dcdcdc; /*gainsboro*/
    height: 3rem;
    width: 85%;
    margin: .5rem 0;
    padding: 1rem;
  }
}
  /*Exhibit Section*/

.exhibit {
  background-color: white;
  width: 100%;
  height: auto;
}


.exhibit h2 {
  font-family: arial;
  font-size: 2rem;
  font-weight: 800;
  padding: 2rem 0;
  height: auto;
  width: auto;
  text-align: center;
}
.exhibitcontainer {
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  margin: 0;
  padding: 0;
}

.exhibit .videocontainer {
  width: 60%;
  height: auto;
  margin: 0 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.videocontainer video {
  width: 100%;
  height: auto;
  margin-bottom: 1.5rem;
}

.videocontainer h4 {
  font-size: 1.25rem;
  font-family: arial;
  font-weight: bold;
  margin-bottom: .5rem;
}

.videocontainer p {
  font-family: helvetica;
  font-size: .85rem;
  line-height: 1.2rem;
  margin-bottom: 2rem;
}

.videomobile {
  display: none;
}

@media only screen and (max-width:650px) {
  .exhibit h2 {
    font-size: 1.75rem;
  }

  .videocontainer video {
    width: 100%;
    height: auto;
  }

  .exhibitcontainer {
    display: none;
  }

  .videomobile {
    display: block;
  }

  .videomobile video {
    width: 100%;
    height: auto;
    margin-bottom: 1.5rem;
  }
}

.rightcontainer, .graycontainer {
  }

.rightcontainer img, .graycontainer img  {
  width: 35%;
  height: auto;
}

.exhibittext {
  width: 60%;
  padding-left: .5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
}

.bottom {
  height: 3.5rem;
  width: auto;
  background-color: white;
  padding: 1rem 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  border-top: 1px solid #c0c0c0; /*silver*/
}

.bottom p {
  font-family: helvetica;
  font-size: .85rem;

  /*border: 1px solid black;*/
}

.bottom span a {
  font-family: helvetica;
  font-size: .85rem;
  /*border: 1px solid black;*/
  text-decoration: none;
}

@media only screen and (max-width: 650px) {
  .bottom {
    height: 3rem;
    padding: 0 1.5rem;
  }
  .bottom p {
    margin: 1rem 0;
  }
  .bottom span {
    display: none;
  }
}
